@use 'utilities/variables.scss';
@use 'utilities/mixins.scss';
@use 'utilities/extends.scss';
// Importar utilidades
@use 'layout/header.scss';
@use 'layout/main.scss';
@use 'layout/footer.scss';
@use 'layout/hero.scss';
@use 'layout/services.scss';
@use 'layout/contact.scss';
@use 'layout/whatsapp.scss';
@use 'layout/scroll-top.scss';
@use 'layout/social-media.scss';
@use 'mq/mq.scss'; // Importar media queries






/* Secciones */
section {
    padding-top: 4rem;
    padding-bottom: 4rem;
}

.bg-light {
    background-color: var(--gris) !important;
    /* Color de fondo claro */
}

.bg-primary {
    background-color: var(--primario) !important;
    /* Color de fondo primario */
}

















