@use '../utilities/variables' as *;
@use '../utilities/mixins' as *;
@use '../utilities/extends' as *;

/* Efecto de fade al botón flotante */
.btn-whatsapp {
    @include flex-center;
    transition: opacity 0.5s ease-in-out, visibility 0.5s ease-in-out;
}

/* Contenedor del botón y texto */
.btn-whatsapp-container {
    position: fixed;
    bottom: 2rem;
    left: 2rem;
    z-index: 999;
}

/* Tooltip personalizado */
.tooltip-ayuda {
    @extend %position-absolute;
    bottom: 40px;
    left: 40px;
    background-color: $verde;
    color: rgb(11, 0, 0);
    padding: 6px 12px;
    border-radius: 10px;
    font-size: 0.85rem;
    white-space: nowrap;
    opacity: 0;
    transform: translateX(-10px);
    transition: opacity 0.4s ease, transform 0.4s ease;
    pointer-events: none;
}

/* Clase que activa el tooltip desde JS */
.tooltip-ayuda.is-active {
    opacity: 1;
    transform: translateX(0);
}

/* Ocultar ambos botones por defecto y prepararlos para la transición */
.btn-scroll-top,
.btn-whatsapp {
    opacity: 0;
    visibility: hidden;
    transform: scale(0.8);
    /* Un pequeño efecto de zoom */
    transition: opacity 0.3s ease, visibility 0.3s ease, transform 0.3s ease;
}

/* Clase que el JavaScript añade para mostrar los botones */
.btn-scroll-top.is-visible,
.btn-whatsapp.is-visible {
    opacity: 1;
    visibility: visible;
    transform: scale(1);
}

/* Estilo para el texto dentro del botón de scroll */
.btn-scroll-top span {
    margin-left: 0.5rem;
}