/* Reset básico para que no se rompa todo en distintos navegadores */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* Estilo general del body, tipografía y color de fondo */
body {
    font-family: "Segoe UI", sans-serif;
    line-height: 1.6;
    background-color: #ffffff;
    color: #333;
    overflow-x: hidden;
    /* Evita scroll horizontal */
}

/* Paleta de colores general para reutilizar codigo si es que cuenta xD */
:root {
    --primario: #0277bd;
    --secundario: #e1f5fe;
    --blanco: #ffffff;
    --gris: #f4f4f4;
    --azul: blue;
    --texto: #333;
}


/* Secciones */
section {
    padding-top: 4rem;
    padding-bottom: 4rem;
}

.bg-light {
    background-color: var(--gris) !important;
    /* Color de fondo claro */
}

.bg-primary {
    background-color: var(--primario) !important;
    /* Color de fondo primario */
}

/* Tarjetas de servicio */
.card-title {
    color: var(--primario);
    font-weight: bold;
}

.card-text {
    font-size: 0.95rem;
    color: #555;
}