/* Botón de scroll hacia arriba */
.btn-scroll-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: var(--primario);
    color: rgb(255, 255, 255);
    padding: 10px 12px;
    border-radius: 4px;
    font-size: 18px;
    display: none;
    z-index: 999;
    transition: all 0.3s ease;
}

/* Mostrar el botón al hacer scroll hacia abajo */
.btn-scroll-top:hover {
    background-color: var(--texto);
}