
@use '../utilities/variables' as *;
@use '../utilities/extends' as *;

/* Animación de íconos al pasar el mouse */
.icono-servicio {
    display: inline-block;
    /* Asegura que el icono sea un bloque para aplicar transformaciones */
    transition: transform 0.3s ease;
    
    &:hover {
        transform: scale(1.9);
        color: $blanco; /* Cambia el color al pasar el mouse */
    }
}