.redes-flotantes-top {
    position: fixed;
    top: 1rem;
    right: 1rem;
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
    z-index: 9999;
}

.btn-instagram-top,
.btn-facebook-top {
    background-color: #fff;
    border-radius: 50%;
    width: 42px;
    height: 42px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
    color: #000;
    transition: transform 0.2s ease, background-color 0.2s ease;
}

.btn-instagram-top:hover {
    background-color: #e4405f;
    /* Color de Instagram */
    color: #fff;
    transform: scale(1.1);
}

.btn-facebook-top:hover {
    background-color: #3b5998;
    /* Color de Facebook */
    color: #fff;
    transform: scale(1.1);
}